.shop-container {
    display: grid;
    grid-template-columns: 4fr 0.9fr;
}

.products-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;

}

.cart-container {
    border: 1px solid black;
}