/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.product {
    position: relative;
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 8px 7px 0px 7px;
}